<!DOCTYPE html>
<html lang="nl"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <title>CMD AMSTERDAM</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<div id="header-outer" data-has-menu="true" data-mobile-fixed="false" data-ptnm="false" data-lhe="animated_underline" data-user-set-bg="#ffffff" data-format="default" data-permanent-transparent="false" data-cart="true" data-transparency-option="0" data-shrink-num="6" data-full-width="false" data-using-secondary="0" data-using-logo="1" data-logo-height="26" data-m-logo-height="24" data-padding="10" data-header-resize="0" style="padding-top: 10px;">


    <div id="search-outer" class="nectar" style="height: 46px;">

        <div id="search">

            <div class="container" style="visibility: visible; height: 46px;">

                <div id="search-box">

                    <div class="col span_12">
                        <form action="https://www.cmd-amsterdam.nl" method="GET">
                            <input type="text" name="s" id="s" value="Start Typing..." data-placeholder="Start Typing..." style="font-size: 43px; height: 59px; top: 23px;">
                        </form>
                    </div><!--/span_12-->

                </div><!--/search-box-->

                <div id="close"><a href="#" style="top: 15px;"><span class="icon-salient-x" aria-hidden="true"></span></a></div>

            </div><!--/container-->

        </div><!--/search-->

    </div><!--/search-outer-->
    <header id="top">

        <div class="container" style="visibility: visible;">

            <div class="row">

                <div class="col span_3">

                    <a id="logo" href="https://www.cmd-amsterdam.nl">
                        <picture>
                            <source type="image/webp" srcset="img/cmd_hva_logo_black-1.webp">
                            <source srcset="img/cmd_hva_logo_black-1.png">
                            <img class="stnd  dark-version" alt="CMD AMSTERDAM" src="/img/cmd_hva_logo_black-1.png" style="height: 26px;">
                        </picture>
                    </a>

                </div><!--/span_3-->

                <div class="col span_9 col_last">

                    <div class="slide-out-widget-area-toggle mobile-icon std-menu fullscreen" data-icon-animation="simple-transform">
                        <div> <a id="toggle-nav" href="#sidewidgetarea" class="closed"> <span> <i class="lines-button x2"> <i class="lines"></i> </i> </span> </a> </div>
                    </div>

                    <!--mobile cart link-->
                    <a id="mobile-cart-link" href="https://www.cmd-amsterdam.nl"><i class="icon-salient-cart"></i></a>

                    <nav>
                        <ul class="buttons" data-user-set-ocm="off">
                            <li id="search-btn" style="padding-bottom: 1px; padding-top: 1px;"><div><a href="#searchbox"><span class="icon-salient-search" aria-hidden="true"></span></a></div> </li>

                        </ul>
                        <ul class="sf-menu sf-js-enabled sf-arrows">
                            <li datatype="menu link naar CMD" id="menu-item-13" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13" onmouseover="getInnerText(this.id);"><a href="https://www.cmd-amsterdam.nl/cmd/" style="padding-bottom: 13px; padding-top: 3px;">CMD</a></li>
                            <li datatype="menu link naar STUDENTENWERK" id="menu-item-12" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12" onmouseover="getInnerText(this.id);"><a href="https://www.cmd-amsterdam.nl/studentenwerk/" style="padding-bottom: 13px; padding-top: 3px;">STUDENTENWERK</a></li>
                            <li datatype="menu link naar SAMENWERKEN" id="menu-item-759" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-759" onmouseover="getInnerText(this.id);"><a href="https://www.cmd-amsterdam.nl/samenwerken/" style="padding-bottom: 13px; padding-top: 3px;">SAMENWERKEN</a></li>
                            <li datatype="menu link naar BATTERY" id="menu-item-7360" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7360" onmouseover="getInnerText(this.id);"><a href="https://www.cmd-amsterdam.nl/battery/" style="padding-bottom: 13px; padding-top: 3px;">BATTERY</a></li>
                            <li datatype="menu link naar NIEUWS" id="menu-item-114" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-114" onmouseover="getInnerText(this.id);"><a href="https://www.cmd-amsterdam.nl/nieuws/" style="padding-bottom: 13px; padding-top: 3px;">NIEUWS</a></li>
                            <li datatype="menu link naar ENGLISH" id="menu-item-152" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-152" onmouseover="getInnerText(this.id);"><a href="https://www.cmd-amsterdam.nl/english/" style="padding-bottom: 13px; padding-top: 3px;">ENGLISH</a></li>
                            <li datatype="menu link naar CONTACT" id="menu-item-63" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-63" onmouseover="getInnerText(this.id);"><a href="https://www.cmd-amsterdam.nl/contact/" style="padding-bottom: 13px; padding-top: 3px;">CONTACT</a></li>
                        </ul>

                    </nav>

                </div><!--/span_9-->

            </div><!--/row-->

        </div><!--/container-->

    </header>




    <div class="ns-loading-cover"></div>


</div>
<div style="height: 600px" data-midnight="nectar-slider" data-transition="slide" data-overall_style="classic" data-flexible-height="" data-animate-in-effect="slide-down" data-fullscreen="false" data-button-sizing="regular" data-button-styling="btn_with_count" data-autorotate="" data-parallax="false" data-full-width="true" class="nectar-slider-wrap first-section" id="ns-id-5ca7264f97df8">
    <div style="height: 600px" class="swiper-container" data-tho="auto" data-tco="auto" data-pho="auto" data-pco="auto" data-loop="false" data-height="600" data-min-height="" data-arrows="false" data-bullets="false" data-bullet_style="see_through" data-desktop-swipe="false" data-settings="">
        <div class="swiper-wrapper"><div class="swiper-slide" data-bg-alignment="top" data-color-scheme="dark" data-x-pos="right" data-y-pos="bottom">
                <div class="image-bg" style=""> &nbsp; </div><div class="container">
                    <div class="content"><h2>CMD Amsterdam</h2><p class="transparent-bg"><span>Opleiding voor digital interactive design.</span></p></div>
                </div><!--/container--><div class="video-texture "> <span class="ie-fix"></span> </div></div><!--/swiper-slide--></div><div class="nectar-slider-loading "> <span class="loading-icon none">   </span> </div> </div>

</div><div class="divider-wrap"><div style="height: 60px;" class="divider"></div></div><div class="col span_6" data-animation="" data-delay="0"><span class="nectar-dropcap" style=" color: #000000;">Ontwerpen</span><div class="divider-wrap"><div style="height: 40px;" class="divider"></div></div>
    <div class="col span_12 section-title text-align-center extra-padding">
        <h2></h2><p>Wij zijn Communication and Multimedia Design (CMD). Wij zijn een HBO-ontwerpopleiding voor digital interactive design. Onze studenten ontwerpen en realiseren digitale interactieve oplossingen die optimaal aansluiten bij de behoeften van de gebruikers.</p></div><div class="clear"></div>In de kern van de opleiding zit interaction design, visual design en techniek (met name frontend development).&nbsp;Onze vakdocenten hebben een goed netwerk&nbsp;en vertalen continu recente ontwikkelingen naar het gehele onderwijsprogramma. Afgestudeerde studenten zijn daarmee van grote waarde in het huidige werkveld. Daar zijn wij trots op!<div class="divider-wrap"><div style="height: 20px;" class="divider"></div></div><a id="link1" datatype="link naar meer over CMD" onmouseover="getInnerText(this.id);" class="nectar-button large extra-color-3 regular-button" href="https://www.cmd-amsterdam.nl/cmd/" data-color-override="false" data-hover-color-override="false" data-hover-text-color-override="#fff"><span>Meer over CMD</span></a></div><div class="col span_6 col_last" data-animation="" data-delay="0"><div class="img-with-aniamtion-wrap left" data-max-width="100%"><div class="inner"><picture><source srcset="img/cmd_daantjebons_0007.webp" type="image/webp"><source srcset="img/cmd_daantjebons_0007.jpg"><img data-shadow="none" data-shadow-direction="middle" class="img-with-animation " data-delay="" height="100%" width="100%" data-animation="fade-in" src="img/cmd_daantjebons_0007.jpg" alt=""></picture></div></div> <div class="placeholder"></div></div><div class="clear"></div>
<div class="col span_6" data-animation="" data-delay="0"> <div class="img-with-aniamtion-wrap left" data-max-width="100%"><div class="inner"><picture><source srcset="img/LR-deliverbee1.webp" type="image/webp"><source srcset="img/LR-deliverbee1.png"><img data-shadow="none" data-shadow-direction="middle" class="img-with-animation " data-delay="" height="100%" width="100%" data-animation="fade-in" src="img/LR-deliverbee1.png" alt=""></picture></div></div><div class="placeholder"></div></div><div class="col span_6 col_last" data-animation="" data-delay="0"><span class="nectar-dropcap" style=" color: #000000;">Studentenwerk</span><div class="divider-wrap"><div style="height: 40px;" class="divider"></div></div>
    <div class="col span_12 section-title text-align-center extra-padding">
        <h2> </h2><p>Het werk van onze studenten varieert van websites tot webshops, en van fysieke producten met een NFC-chip tot interactieve datavisualisaties. En dan zijn we er vast nog een paar vergeten.</p></div><div class="clear"></div>We hebben een mooie selectie van studentenwerk voor je gemaakt. Hierbij kun je ook kiezen tussen werk uit de vier studiejaren. Laat je verrassen en voel je vrij om er comments bij te plaatsen! <div class="divider-wrap"><div style="height: 20px;" class="divider"></div></div><a id="link2" datatype="link naar bekijk studentenwerk" onmouseover="getInnerText(this.id);" class="nectar-button large extra-color-3 regular-button" href="https://www.cmd-amsterdam.nl/studentenwerk/" data-color-override="false" data-hover-color-override="false" data-hover-text-color-override="#fff"><span>Bekijk studentenwerk</span></a></div><div class="clear"></div>
<div class="divider-wrap"><div style="height: 40px;" class="divider"></div></div>
<div class="col span_6" data-animation="" data-delay="0"><span class="nectar-dropcap" style=" color: #000000;">Samenwerken</span><div class="divider-wrap"><div style="height: 40px;" class="divider"></div></div>
    <div class="col span_12 section-title text-align-center extra-padding">
        <h2> </h2><p>Onze opleiding hecht grote waarde aan samenwerking. We kijken met interesse naar de ontwikkelingen in ons vakgebied en de samenleving en zoeken daar onderwerpen en partners uit. Daarnaast stellen wij onze kennis en kunde rond digital interactive design graag beschikbaar voor ons netwerk.</p></div><div class="clear"></div>Dit alles doen we via&nbsp;stages, het werken aan projecten, gastcolleges, bedrijfsbezoeken, bijbaantjes, (betaalde) ontwerpklussen voor onze studenten en korte cursussen en masterclasses voor bedrijven. <div class="divider-wrap"><div style="height: 20px;" class="divider"></div></div><a id="link3" datatype="link naar samenwerken? Ja graag!" onmouseover="getInnerText(this.id);" class="nectar-button large see-through" href="https://www.cmd-amsterdam.nl/samenwerken/" data-color-override="#000000" data-hover-color-override="false" data-hover-text-color-override="#fff"><span>Samenwerken? Ja graag!</span></a> </div><div class="col span_6 col_last" data-animation="" data-delay="0"><div class="img-with-aniamtion-wrap left" data-max-width="100%"><div class="inner"><picture><source srcset="img/cmd_daantjebons_0025-1.webp" type="image/webp"><source srcset="img/cmd_daantjebons_0025-1.jpg"><img data-shadow="none" data-shadow-direction="middle" class="img-with-animation " data-delay="" height="100%" width="100%" data-animation="fade-in" src="img/cmd_daantjebons_0025-1.jpg" alt=""></picture></div></div> <div class="placeholder"></div></div><div class="clear"></div>
<div class="col span_6" data-animation="" data-delay="0"><span class="nectar-dropcap" style=" color: #000000;">Cursussen en masterclasses</span><div class="divider-wrap"><div style="height: 40px;" class="divider"></div></div>
    <div class="col span_12 section-title text-align-center extra-padding">
        <h2></h2><p>Naast het opleiden van studenten delen wij onze kennis en expertise rond digital interactive design ook graag met iedereen die daar interesse in heeft. Vanuit CMD Battery geven onze docenten korte cursussen en masterclasses.</p></div><div class="clear"></div>Uitgangspunt is onze eigen expertise. In een gesprek kunnen wij de cursus aan laten sluiten bij jouw eigen kennisbehoefte. Mocht je op basis van ons opleidingsprogramma interesse hebben in één of meerdere onderwerpen, dan komen we graag bij je langs.<div class="divider-wrap"><div style="height: 20px;" class="divider"></div></div><a id="link4" datatype="link naar meer over Battery" onmouseover="getInnerText(this.id);" class="nectar-button large extra-color-3 regular-button" href="https://www.cmd-amsterdam.nl/battery/" data-color-override="false" data-hover-color-override="false" data-hover-text-color-override="#fff"><span>Meer over Battery</span></a></div><div class="col span_6 col_last" data-animation="" data-delay="0"> <div class="img-with-aniamtion-wrap left" data-max-width="100%"><div class="inner"><picture><source srcset="img/battery-web.webp" type="image/webp"><source srcset="img/battery-web.jpg"><img data-shadow="none" data-shadow-direction="middle" class="img-with-animation " data-delay="" height="100%" width="100%" data-animation="fade-in" src="img/battery-web.jpg" alt=""></picture></div></div><div class="placeholder"></div></div><div class="clear"></div><div class="divider-wrap"><div style="height: 40px;" class="divider"></div></div>

<div id="footer-outer" data-midnight="light" data-using-widget-area="false">


    <div id="call-to-action">
        <div class="container">

            <span> STUDEREN BIJ CMD? </span>
            <a id="link5" datatype="link naar kom naar onze open dag!" class="nectar-button regular-button  extra-color-3" data-color-override="false" href="http://www.hva.nl/onderwijs/opleidingen/opleidingen/opleidingen/content/folder/fdmci/communication-and-multimedia-design/meer-informatie/open-dag/open-dag.html" style="visibility: visible;">Kom naar onze open dag! </a>
        </div>
    </div>




    <div class="row" id="copyright">

        <div class="container">

            <div class="col span_5">

                <p>© 2019 CMD AMSTERDAM.  </p>

            </div><!--/span_5-->

            <div class="col span_7 col_last">
                <ul id="social">
                    <li><a target="_blank" href="http://twitter.com/cmdamsterdam"><i class="icon-twitter"></i> </a></li> 						 <li><a target="_blank" href="https://www.facebook.com/CMD-Amsterdam-125542707518591/"><i class="icon-facebook"></i> </a></li> 						 <li><a target="_blank" href="http://vimeo.com/cmdamsterdam"> <i class="icon-vimeo"></i> </a></li> 												 <li><a target="_blank" href="https://www.linkedin.com/groups/5051295/"><i class="icon-linkedin"></i> </a></li> 																																																																																									</ul>
            </div><!--/span_7-->

        </div><!--/container-->

    </div><!--/row-->


</div>

<div id="live" aria-live="assertive" aria-atomic="true">

</div>

<audio id="blop">
    <source src="audio/blop.wav">
</audio>

<audio id="error">
    <source src="audio/error.mp3">
</audio>

<audio id="constant">
    <source src="audio/constant-bleep.wav">
</audio>

<audio id="synth" >
    <source src="audio/synth.wav">
</audio>


<script src="js/app.js"></script>

</body></html>