<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>Web Design</title>
</head>

<body>
<header class="container">
    <nav class="row">
        <a class="skip-main" href="#main">Ga direct naar de inhoud</a>
        <a class="skip-main" href="/nav">Ga naar de navigatie</a>
        <ul class="col">
            <li>
                <a href="#" id="books-link">Boeken</a>
                <ul class="collapsed">
                    <li>Literatuur & Romans</li>
                    <li>Thrillers & Spanning</li>
                    <li>Kinderboeken</li>
                    <li>Studieboeken</li>
                    <li>Gezondheid & Psychologie</li>
                    <li>Kookboeken</li>
                    <li>Fantasy</li>
                    <li>Kunst & Fotografie</li>
                    <li>Geschiedenis & Maatschappij</li>
                    <li>Hobby, Huis & Tuin</li>
                    <li>Sportboeken</li>
                    <li>Managementboeken</li>
                </ul>
            </li>
            <li>
                <a href="#" id="books-link">Muziek, Films & Games</a>
            </li>
            <li>
                <a href="#" id="books-link">Computer & Elektronica</a>
            </li>
            <li>
                <a href="#" id="books-link">Speelgoed & Hobby</a>
            </li>
            <li>
                <a href="#" id="books-link">Baby & Kind</a>
            </li>
            <li>
                <a href="#" id="books-link">Mooi & Gezond</a>
            </li>
            <li>
                <a href="#" id="books-link">Mode, Schoenen & Sieraden</a>
            </li>
            <li>
                <a href="#" id="books-link">Sport, Outdoor & Reizen</a>
            </li>
            <li>
                <a href="#" id="books-link">Kantoor & School</a>
            </li>
            <li>
                <a href="#" id="books-link">Drank</a>
            </li>
            <li>
                <a href="#" id="books-link">Wonen, Koken & Huishouden</a>
            </li>
            <li>
                <a href="#" id="books-link">Dier, Tuin & Klussen</a>
            </li>
        </ul>
    </nav>
</header>
<main id="main" class="container">
    <section class="row">
        <article class="col">
            <h2>Welkom op deze demo</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sodales mauris urna. Proin dapibus congue varius. Quisque nec faucibus
                sapien, porta eleifend ante. Nullam pharetra, lorem nec molestie semper, nulla tellus consectetur diam, eu euismod felis tellus ut sem.
                Mauris ac erat eget nulla tempus rutrum. Aenean at elit quis mauris rhoncus congue eu eu neque. Ut lectus libero, dictum eget purus eget, lacinia
                fermentum tortor. Praesent scelerisque massa erat, eu elementum orci malesuada eleifend. Nam egestas ipsum eget elit ultrices, et ornare quam faucibus. Etiam non blandit enim.
                Cras a iaculis urna. Vestibulum pharetra nisl finibus cursus posuere. Fusce ut lectus id est consectetur fringilla. Maecenas mi leo, fringilla id accumsan eget,
                posuere in eros. Aliquam at augue et risus lobortis cursus. Ut imperdiet nisl eget tellus ullamcorper, sit amet interdum urna ultrices. Curabitur porttitor consequat
                rhoncus. Nunc tristique placerat velit, id vestibulum nunc semper nec. Praesent vitae dignissim massa. Donec facilisis mauris eu orci congue fringilla.
            </p>
            <a href="https://en.wikipedia.org/wiki/Accessibility">Wat is Accesebility?</a>
        </article>

    </section>
</main>

<script src="js/app.js"></script>
</body>
</html>