<ul>
    <li>
        <a href="#" id="books-link">Literatuur & Romans</a>
    </li>
    <li>
        <a href="#" id="books-link">Thrillers & Spanning</a>
    </li>
    <li>
        <a href="#" id="books-link">Kinderboeken</a>
    </li>
    <li>
        <a href="#" id="books-link">Studieboeken</a>
    </li>
    <li>
        <a href="#" id="books-link">Gezondheid & Psychologie</a>
    </li>
    <li>
        <a href="/kookboeken" id="books-link">Kookboeken</a>
    </li>
    <li>
        <a href="#" id="books-link">Fantasy</a>
    </li>
    <li>
        <a href="#" id="books-link">Kunst & Fotografie</a>
    </li>
    <li>
        <a href="#" id="books-link">Geschiedenis & Maatschappij</a>
    </li>
    <li>
        <a href="#" id="books-link">Hobby, Huis & Tuin</a>
    </li>
    <li>
        <a href="#" id="books-link">Sportboeken</a>
    </li>
    <li>
        <a href="#" id="books-link">Managementboeken</a>
    </li>
</ul>