<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Web Design</title>
</head>

<body>
<h1>Welkom op de navigatie!</h1>
    <nav>
        <ul >
            <li>
                <a href="/nav/boeken" id="books-link">Boeken</a>
            </li>
            <li>
                <a href="#" id="books-link">Muziek, Films & Games</a>
            </li>
            <li>
                <a href="#" id="books-link">Computer & Elektronica</a>
            </li>
            <li>
                <a href="#" id="books-link">Speelgoed & Hobby</a>
            </li>
            <li>
                <a href="#" id="books-link">Baby & Kind</a>
            </li>
            <li>
                <a href="#" id="books-link">Mooi & Gezond</a>
            </li>
            <li>
                <a href="#" id="books-link">Mode, Schoenen & Sieraden</a>
            </li>
            <li>
                <a href="#" id="books-link">Sport, Outdoor & Reizen</a>
            </li>
            <li>
                <a href="#" id="books-link">Kantoor & School</a>
            </li>
            <li>
                <a href="#" id="books-link">Drank</a>
            </li>
            <li>
                <a href="#" id="books-link">Wonen, Koken & Huishouden</a>
            </li>
            <li>
                <a href="#" id="books-link">Dier, Tuin & Klussen</a>
            </li>
        </ul>
    </nav>

<script src="js/app.js"></script>
</body>
</html>